html {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 62.5%;
}

body {
    background-color: #e2e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fundo {
    background-color: #fff;
    width: 655px;
    height: 347px;
    display: flex;
    align-items: center;
    border-radius: 21px;
    box-shadow: 0px 20px 20px -10px #00000040;
}

.fundo img {
    width: 278px;
    height: 293px;
    transform: translateX(-30%);
}

.fundo .faq {
    height: 100%;
    width: 90%;
    transform: translateX(-10%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0;
}

.fundo .faq h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.pergunta .cabecalho-pergunta {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    transition: .2s ease;

    background: url(../image/seta.png) no-repeat top 8px right 0;
    background-size: 12px;
}

.pergunta .cabecalho-pergunta:hover {
    color: #f47c57;
}

.pergunta h3 {
    font-size: 1.7rem;
    font-weight: 500;
}

.pergunta p {
    font-size: 1.5rem;
    display: none;
}


/* Faz com que o acordeon abra/feche */
.faq .pergunta.aberto h3 {
    font-weight: 700;
}

.faq .pergunta.aberto p {
    display: block;
    margin-bottom: 5px;
}

.pergunta.aberto .cabecalho-pergunta {
    background: url(../image/seta2.png) no-repeat top 8px right 0;
    background-size: 12px;
    color: #f47c57;
}